<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위 코드가 mapper 설정을 하는 코드 -->


<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="com.example.community.repository.BoardRepository">
    <!--  select query  -->
    <select id="findTotalByAll" resultType="int">
        SELECT COUNT(*) FROM board_tb
    </select>

    <select id="readDetail" parameterType="Long" resultType="Board">
        SELECT userId, title, boardText FROM board_tb WHERE id = #{boardId}
    </select>

    <select id="searchBoard" parameterType="Search" resultType="String">
        SELECT title FROM board_tb
        <trim prefix="WHERE" suffixOverrides=",">
            <if test="searchType == 'writer'"> userId LIKE CONCAT('%',#{searchKeyword},'%')</if>
            <if test="searchType == 'title'"> title LIKE CONCAT('%',#{searchKeyword},'%')</if>
            <if test="searchType == 'text'"> boardText LIKE CONCAT('%',#{searchKeyword},'%')</if>
            <if test="searchType == 'titleAndText'"> title LIKE CONCAT('%',#{searchKeyword},'%') or boardText LIKE CONCAT('%',#{searchKeyword},'%')</if>
        </trim>
    </select>

    <select id="findPostFromDB" parameterType="PagingEntity" resultType="Board">
        SELECT board_tb.title, (SELECT name FROM user_tb WHERE id = board_tb.userId) as name FROM board_tb
        WHERE categoryId = #{ categoryId }
        <if test="searchQuery != ''">
            and boardText LIKE concat('%', #{ searchQuery }, '%') and title LIKE concat('%', #{ searchQuery }, '%')
        </if>
        <choose>
            <when test="sortType == 'old'">
                ORDER BY createdAt DESC
            </when>
            <when test="sortType == 'count'">
                LEFT JOIN board_count_tb ON board_tb.id = board_count_tb.boardId ORDER BY countValue ASC
            </when>
        </choose>
<!--        <if test="sortType == 'scrap'"> ORDER BY createdAt DESC </if>-->
        LIMIT #{ gap }, #{ listTotal }
    </select>

    <!--  insert query  -->
    <insert id="writeBoard" parameterType="Board">
        INSERT INTO board_tb(userId, categoryId, title, boardText) VALUES(#{userId}, #{categoryId}, #{title}, #{boardText});
    </insert>

    <!--  update query  -->
    <!-- 일단은 제목이랑 내용만 업데이트 가능하게-->
    <update id="updateByBoardId" parameterType="BoardUpdateEntity">
        UPDATE board_tb
        <trim prefix="SET">
            <choose>
                <when test="boardText != null and title == null">
                    boardText = #{ boardText }
                </when>
                <when test="boardText == null and title != null">
                    title = #{ title }
                </when>
                <otherwise>
                    boardText = #{ boardText } , title = #{ title }
                </otherwise>
            </choose>
        </trim>
        WHERE id = #{boardId}
    </update>

    <!--  delete query  -->
    <delete id="delete" parameterType="Long">
        DELETE FROM board_tb WHERE id = #{boardId}
    </delete>

</mapper>